build/
build-release/
build-tsan/
out/
.cache/
cmake-build-*/
.idea/
.vs/
.vscode/
CMakeUserPresets.json
.DS_Store
CMakeCache.txt
CmakeFiles/
cmake_install.cmake
Makefile
DartConfiguration.tcl
CTestTestfile.cmake
_deps/
dist/
dist_bundle/
